<!-- <h4>Arbeit beginnen</h4>
<mat-form-field appearance="fill">
    <mat-label>Kunde</mat-label>
    <mat-select>
        <mat-option></mat-option>
        <mat-option [value]="kunde.idkunde" *ngFor="let kunde of kunden">{{ kunde.name }}</mat-option>
    </mat-select>
</mat-form-field>


<div *ngIf="!onWork" class="example-button-container">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="startWork($event)">
    START
  </button>
</div>



<div *ngIf="onWork" class="example-button-container">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="endWork($event)">
  ENDE
</button>
</div> -->
