.example-form {
    min-width: 150px;
    width: 98%;
}

.example-full-width {
    width: 100%;
}

table {
    width: 100%;
}

.button {
    margin-top: 1rem;
}

.bearbeiten {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
